@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
body {
  background-image: url("../img/lowpoly.png");
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
#pandemicStart {
  display: flex;
}
#pandemicEnd {
  display: flex;
}
.partRed,
.partGreen,
.partBlue {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-left: 8px;
  box-shadow: 5px 3px 9px white;
}
.partRed {
  background-image: url("../img/corona_co.png");
  background-size: cover;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: linear(1, 0.5, 0.25, 1);
  animation-duration: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear(1, 0.5, 0.25, 1);
  -webkit-animation-duration: 1s;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
